/* DEMO STYLES */

/* Minimal reset */
*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  line-height: 1;

  -webkit-tap-highlight-color: transparent;
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  min-height: 100%;

  font-family: "Helvetica Neue", Helvetica, Arial, -apple-system, BlinkMacSystemFont,  sans-serif;
  font-size: 16px;
  line-height: 1;

  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Demo layout utilities */

.demo-wrapper {
    margin: 0 auto;
    max-width: 52rem;
    padding-left: 1rem;
    padding-right: 1rem;
}

.demo-container {
    display: grid;
    gap: 1rem;
    grid-auto-flow: row;
    width: 100%;

    grid-template-columns: repeat(1, 1fr);
} 

@media (min-width: 800px) {
    .demo-container {
        grid-template-columns: repeat(2, 1fr);
    } 
}
